body {
    background-image: url(/image/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

h1.one_title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2.sub_title {
    text-align: left;
    font-size: 22px;
}

div.list{
    text-align: left;
    font-size: 18px;
}

h2.sub_title_three {
    text-align: left;
    font-size: 22px;
}


div.list_formation{
    text-align: left;
    font-size: 18px;
}
